header {
    width: 100%;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

.body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: #F5CBA7;
     
}
.head{
  font-size: 25px;
}

.imageTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
    width: 70%;
  }

  .recommend {
      margin-left: 40px;
      margin-top: 40px;
      padding: 0;
      font-size: 45px;
  }
  .cut-text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }
  .cut-text-multi{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    }



  .over-lay{
    position: relative;
    width: 100%;
    max-width: 300px;
    float: left;
    margin: 30px;
  }

  .over-lay-text{
    position: absolute;
    left: 40px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 90%;
    height: 60px;
    transition: .5s ease;
    opacity: 1;
    color: white;
    font-size: 18px;

    text-align: center;
    border-radius: 8px;
  }
