<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<header class="bg-secondary">
  <mat-toolbar class="bg-secondary">
    <button type="button" class="btn btn-primary" routerLink='/createpostpage'>เพื่มนิยายเรื่องใหม่</button>
    <span class="example-spacer"></span>
    <div>
      <form class="form-inline ml-auto">
        <div class="md-form my-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          <button href="#!" class="btn btn-dark btn-md my-0 ml-sm-2" type="submit">Search</button>
        </div>
      </form>
    </div>
  </mat-toolbar>
</header>

<div class="body">
    <div class="img"><br>
        
    </div>

    <div class="recommend">
        <p>นิยายของฉัน</p>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-sm-3" *ngFor="let novel of novelall; index as i; first as isFirst" style="margin: 10px 0px;">
            <div *ngIf="uid_ == novel.uid">
                <a routerLink="/noveledit/{{novel._id}}" placement="bottom">
                    <div class="card" >
                        <img class="card-img-top" src="./assets/images/{{novel.imageTitle}}" alt="Card image cap" style="height: 35rem;">
                        <div class="card-body" style="height: 10rem;">
                            <h4 class="card-title cut-text"><b>{{novel.title}}</b></h4>
                            <p class="card-text cut-text-multi">&nbsp;&nbsp;&nbsp;&nbsp;{{novel.detail}}</p>
                        </div>
                        
                    </div>
                </a>
                <div style="margin-top: 0px; margin-right: 0px;">
                <button type="button" class="btn btn-danger" (click)="onDelete(novel._id)">ลบ</button>
                </div>
            <div >
        </div>
    </div>
</div>
